// base
html {
  height: 100%;
}

body {
  height: 100%;
}

// *** --------------- profile --------------- ***
.profile-circle-img {
  background-color: rgb(0, 202, 253);
  ;
  border: 0.10px solid rgb(0, 202, 253);
  border-radius: 51.5%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: 0 8px 6px -6px black;
}

